<% content_for :header do %>
  <h1>Trains</h1>
<% end %>
<% content_for :section do %>
  Trains from:
  <ul>
    <% @train.each do |train| %>
      <li>From: <%= train.from %> To: <%= train.destination %></li>
  <% end %>
  </ul>
<% end %>
<% content_for :footer do %>
  <%= link_to "Go back", :back %>
<% end %>
