<% content_for :header do %>
  <h1>Welcome: <span class="cust_name"><%= @customer.name %></span></h1>
<% end %>
<% content_for :section do %>
<a href="<%= @customer.link %>"><%= @customer.link %></a>
<% end %>
<% content_for :footer do %>
<%= link_to "Go back", customers_path %>
<% end %>
